.staffCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin: 1rem 0 2rem 0;
}

.staffImage {
  max-width: 270px;
}

.staffContainer img {
  width: 100%;
}

.title {
    font-size: 1.5rem;
    color: var(--black);
    margin: 1rem 0 5px 0;
    font-weight: 400;
    font-family: var(--main-font);
}

.job {
    font-size: 1rem;
    color: var(--gray);
    font-weight: 400;
    font-family: var(--sub-font);
}