.headerContainer {
  background-color: var(--dark-blue);
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}

.headerContainer::after {
  content: "";
  display: block;
  position: absolute;
  height: 80vmin;
  width: 80vmin;
  border-radius: 50%;
  background-color: var(--half-circle);
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  z-index: 1;
}

.header {
  position: relative;
  z-index: 3;
  padding: 2rem 0;
}

.headerTitle {
  font-size: 2.2rem;
  color: var(--white);
  font-weight: 400;
  font-family: var(--main-font);
  line-height: 3rem;
}

.headerContext {
  font-size: 0.8rem;
  padding: 1rem 0;
  font-family: var(--main-font);
  color: #f1f1f1;
  line-height: 1.5rem;
  padding-right: 2rem;
}

.headerNavigation {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.headerNavigation button {
  padding: 1.3rem 0;
  margin: 0.5rem 0;
  border-radius: 50px;
  font-weight: 700;
  font-family: var(--sub-font);
  font-size: 1.2rem;
}

.buyTemplate {
  background-color: var(--green);
  color: var(--dark-blue);
}

.explore {
  border: 2px solid var(--white);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .headerContainer {
    padding: 1.5rem 3rem;
  }

  .headerTitle {
    font-size: 3rem;
    line-height: 74px;
    padding-right: 2rem;
  }

  .headerContext {
    padding-right: 5rem;
    font-size: 1rem;
    line-height: 28px;
  }

  .headerNavigation {
    flex-direction: row;
  }

  .headerNavigation button {
    padding: 1.3rem 3.5rem;
    margin-right: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .headerContainer {
    padding: 3rem 5rem;
  }

  .headerWrapper {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 7rem;
    margin-top: 1.5rem;
  }

  .headerTitle {
    padding-top: 0.5rem;
  }

  .headerNavigation button {
    padding: 1rem 3rem;
  }
}
