.sliderContainer {
  padding: 2rem 1rem;
  padding-bottom: 5rem;
  background-color: var(--dark-blue);
}

.sliderTitle {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: var(--main-font);
  line-height: 2.8125rem;
  color: var(--white);
}

.sliderNavigation {
  display: flex;
  justify-content: right;
  margin-left: auto;
  padding: 1rem 0;
}

.sliderNavigation button {
  padding: 1rem;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
}

.sliderNavigation button svg {
  height: 30px;
  width: 35px;
}

.mainSlider {
    display: flex;
}
.leftBtn {
  margin-right: 2rem;
  transform: rotate(180deg);
}


@media screen and (min-width: 768px) {
  .sliderContainer {
    padding: 3rem;
  }

  .sliderHeader {
    display: flex;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 1rem;
  }

  .sliderTitle {
    font-size: 3rem;
    line-height: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .sliderContainer {
    padding: 4rem 5rem;
    padding-bottom: 6rem;
  }

}