.FooterNavigation {
  /* border: 1px solid; */
  margin: 2rem 0;
}

.aboutBox {
  border: 1px solid;
}

.aboutText {
  padding: 1.5rem 0 1rem 0;
  line-height: 24.5px;
  font-family: var(--sub-font);
  color: var(--gray);
  font-weight: 400;
  font-size: 0.8rem;
}

.navigation {
  /* border: 1px solid; */
  margin: 1.5rem 0;
}

.navBox {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.navHeader {
  /* border: 1px solid; */
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--black);
  font-weight: 700;
  font-family: var(--sub-font);
}

.navBox a {
  margin: 0.5rem 0;
  color: var(--gray);
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--sub-font);
  text-decoration: none;
  /* border:1px solid; */
}

.privacy {
  font-size: 0.8rem;
  color: var(--gray);
  font-family: var(--sub-font);
}

.hiringTag {
  /* border: 1px solid; */
  font-size: 0.75rem;
  font-weight: 700;
  font-family: var(--sub-font);
  padding: 0.5rem 1rem;
  border-radius: 100px;
  color: var(--dark-blue);
  background-color: var(--green);
  margin-left: 5px;
}
