* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --main-font: "Manrope", sans-serif;
  --sub-font: "Open Sans", sans-serif;
  --dark-blue: #0a2640;
  --half-circle: #1c3d5b;
  --green: #65e4a3;
  --gray: #777777;
  --black: #000000;
  --light-gray: #F1F1F1;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a,
button {
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
}

img {
  display: block;
}

::selection {
  background-color: var(--green);
}

.carousel-initialized {
  /* overflow: visible !important; */
  padding: 30px 0 !important;
}

.carousel-next,
.carousel-prev {
  background-color: var(--white) !important;
  height: 72px !important;
  width: 72px !important;
  transform: translateY(-90px);
  display: none;
}


